.music {
    img {
        width: 192px;
        height: 192px;
        border-radius: 12px;
    }

    p {
        font-size: 16px;
        color: var(--gray-600);
    }

    span {
        font-size: 12px;
        color: var(--gray-600);
    }
}